// Global Config
$primary-color: #333645;
$body-color: #666;
$bg-color:#ddd;
$white: #ffffff;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$instagram-color: #d93175;
$linkedin-color: #0077b5;

$breakpoints:(
    "xxl": 1400px,
    "xl": 1260px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px,
    "xs": 0px,
);

