// Global Config
$primary-color: #333645;
$secondary-color: #333645;
$body-color: #666;
$bg-color:#ddd;
$white: #ffffff;
$breakpoints:(
    "xxl": 1400px,
    "xl": 1260px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px,
    "xs": 0px,
);

